.title{
    color:var(--text-warning);
    font-size: 60px;
    display: flex;
    margin-bottom: 120px;
}
.description{
    font-size: 24px;
    color:var(--text-black);
}
.arrowsBlack{
    transform: rotate(0.5turn);
}
.image img{
    border-radius: 30px;
    max-width: 80%;
    display: block;
    margin-left: 20%;
}
.backLink{
    margin-top: 50px;
    margin-left: -100px;
}
.backLink a{
    font-size: 24px;
    color:var(--text-link);
    margin-left: 15px;
    transition: all 0.5s ease;
    text-decoration: none;
}
.backLink a:hover{
    color:var(--text-blue);
}
.title_left{
    width: 50%;
}
.time{
    color:var(--text-blue);
    font-size: 30px;
    font-weight: 500;
}
.place, .link{
    margin-top: 20px;
}
.link{
    color:var(--text-link);
}
.link:visited{
    color:var(--text-link);
}
@media screen and (min-width: 240px) and (max-width: 768px){
    .backLink{
        margin: 10px auto;
    }
    .title{
        font-size: 1em;
        flex-wrap: wrap;
    }
    .title h1{
        font-size: 2.5em;
        text-align: center;
    }
    .title_left, .backLink{
        width: 100%;
    }
    .image img{
        margin: 0 auto;
        border-radius: 0;
        max-width: 100%;
    }
}
@media screen and (min-width: 780px) and (max-width: 1500px){
    .backLink{
        margin: 10px auto;
    }
    .title{
        font-size: 2em;
        flex-wrap: wrap;
        justify-content: center
    }
    .title_left, .backLink{
        width: 100%;
    }
    .title h1{
        font-size: 4.5em;
        text-align: center;
    }
    .description{
        font-size: 1em;
    }
    .image img{
        margin: 0 auto;
        max-width: 100% !important;
    }
}